<!DOCTYPE html>
<html lang="fa">

<head>
    <link rel="stylesheet" href="Vazirmatn-font-face.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1><%= text %></h1>
    <img src="quote.jpg" width="500" height="300">
</body>

</html>